<div class='mapContainer' id="map"></div>

<script>
function initializeMap(){
  map = initMap();
  stations = initStations(<%=convertStations(@stations)%>);
  routes = initRoutes(<%=convertRoutes(@routes)%>);
  curves = initCurves(<%=convertCurves(@curves)%>);

  times = initTimes(<%=convertTimes(@timeArrays)%>);
  trains = []
  var contentString = "";

}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["google_key"] %>&callback=initializeMap">
</script>
