<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Info windows</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4
        });
        var bounds = new google.maps.LatLngBounds();
        var contentString = "";
        //FOR LOOP TO ADD STATION MARKERS
        <% @stations.each do |station| %>
          var stationPos = {lat:<%=station.latitude%>, lng:<%=station.longitude%>}
          var marker = new google.maps.Marker({
            position: stationPos,
            map: map,
            title: "<%=station.stop_id%>",
            label: "<%=station.stop_id%>"
          });
          bounds.extend(marker.position);
          marker.addListener('click', function() {
            $.ajax({
              url: "http://apps.mta.info/trainTime/getTimesByStation.aspx?stationID=<%=station.stop_id%>&time="+ (new Date).getTime(),
              method: 'get'
              }).done(function(responseJSON){
                var data = responseJSON.replace('loadNewData()', '')
                var direction1 = [];
                var direction2 = [];
                eval(data);
                //AT THIS POINT WE ARE GETTING THE INFORMATION FROM MTA ABOUT THE TRAIN LOCATIONS AND STATION ARRIVALS
                  debugger
              // var infowindow = new google.maps.InfoWindow({
              //   content: contentString
              //   infowindow.open(map, marker);
            });
          });
        <% end %>
        <% @routes.each do |route| %>
          var coordinates = [];
            <% route.each do |station| %>
              coordinates.push({lat: <%=station.latitude%>, lng:<%=station.longitude%>});
            <% end %>

            var linePath = new google.maps.Polyline({
              path: coordinates,
              geodesic: true,
              strokeColor: 'Green',
              strokeOpacity: 1.0,
              strokeWeight: 2
            });
            coordinates = [];

        linePath.setMap(map);
        <%end %>


        map.fitBounds(bounds);

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQReqhQUQG1yUOrygohpV_o9cZ6kJ9Oyw&callback=initMap">
    </script>

  </body>
</html>
