<!DOCTYPE html>
<html>
  <head>
    <title>On the Rails</title>
      <%= csrf_meta_tags %>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>

  </head>

  <body id='grad1'>
    <%= render "layouts/header" %>

              <%= yield %>

    <%= render "layouts/messages" %>
    <%= render "layouts/footer" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  </body>

</html>
