<!DOCTYPE html>
<html>
  <head>
    <title>On the Rails</title>
    <%= csrf_meta_tags %>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>

  <body>

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class='collapse navbar-collapse row toggle' id="navBar">
        <div class="col-sm-5">
          <img src="img/rails.jpg" width="40%"/>
        </div>
        <div class="col-sm-1">
      		<button data-toggle="button" aria-pressed="false" data-target="#myModal" class="btn btn-circle raised btn-primary checked center-block" onclick="handleClick(this)" name="line" value="1">1</button>
          <div><span id='1-service' class="label center-block label-success">Good Service</span></div>
        </div>
        <div class="col-sm-1">
          <button data-toggle="button" aria-pressed="false" class="btn btn-circle raised btn-info checked center-block" onclick="handleClick(this)" name="line" value="2">2</button>
          <div><span id='2-service' class="label center-block label-success">Good Service</span></div>
        </div>
        <div class="col-sm-1">
        	<button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised btn-default checked center-block" onclick="handleClick(this)" name="line" value="3">3</button>
          <div><span id='3-service' class="label center-block label-success">Good Service</span></div>
        </div>
        <div class="col-sm-1">
          <button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised btn-success checked center-block" onclick="handleClick(this)" name="line" value="4">4</button>
          <div><span id='4-service' class="label center-block label-success">Good Service</span></div>
          <p ></p>
        </div>
        <div class="col-sm-1">
        	<button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised btn-warning checked center-block" onclick="handleClick(this)" name="line" value="5">5</button>
          <div><span id='5-service' class="label center-block label-success">Good Service</span></div>
        </div>
        <div class="col-sm-1">
        	<button data-toggle="modal" data-target="#myModal" class="btn btn-circle raised btn-danger checked center-block" onclick="handleClick(this)" name="line" value="6">6</button>
          <div><span id='6-service' class="label center-block label-success">Good Service</span></div>
        </div>
      </div>
    </div>
  </nav>
    <%= yield %>
    <div class='container-fluid'>
      <p id='mta-timestamp'>Train location data last updated by MTA at <span id="update_time"><%= Time.now.strftime("%m/%d/%Y %H:%M") %></span></p>
      <form id='train-updater' action='/update_trains' method='get'>
        <input type='submit' value='Update these trains' />
      </form>
      <form id='service-updater' action='/update_line_service' method='get'>
        <input type='submit' value='Check latest service statuses' />
      </form>
    </div>
    <footer>
      <% if @error%>
      <p><%= @error %></p>
      <% end %>
    </footer>
  </div>
  </body>

</html>
